.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(2, 2, 92);
}



.text-white{
  color: white;
}

.flex{
  display: flex;
  gap: 15px;
}



.imgContainer{
  width: 100px;
}

.img{
  width: 100%;
  height: 100%;
  
  border-radius: 90000px;
}

.text-gray{
  color: gray;
}

.w-half{
  width: 50%;
}